@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?99ec26adccb0b0152df89e59a2e1de68") format("truetype"),
url("./flaticon.woff?99ec26adccb0b0152df89e59a2e1de68") format("woff"),
url("./flaticon.woff2?99ec26adccb0b0152df89e59a2e1de68") format("woff2"),
url("./flaticon.eot?99ec26adccb0b0152df89e59a2e1de68#iefix") format("embedded-opentype"),
url("./flaticon.svg?99ec26adccb0b0152df89e59a2e1de68#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-man-boxing:before {
    content: "\f101";
}
.flaticon-buddhist-yoga-pose:before {
    content: "\f102";
}
.flaticon-man-lifting-weight:before {
    content: "\f103";
}
.flaticon-weightlifting:before {
    content: "\f104";
}
.flaticon-treadmill:before {
    content: "\f105";
}
.flaticon-fitness:before {
    content: "\f106";
}
.flaticon-stationary-bike:before {
    content: "\f107";
}
.flaticon-dancing:before {
    content: "\f108";
}
.flaticon-dancing-1:before {
    content: "\f109";
}
